input{
    display: block;
}
.optclass{
    display: none;
}
#divsign{
    width:360px;
    height:600px;
    margin:auto;
    /* border:1px solid black; */
    padding:70px 0px 0px;
}

#new{
    color:#fff;
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

#acct{
       color:#cfc3ca;
        font-size: 14.4px;
        line-height: 1.42em;
        text-align: center;
        margin:0 20px 30px;
        font-family: 'Noto Sans', sans-serif;
        margin:20px 20px 30px;
      
}

body{
    background-color: #0F0617
}

.btd{
    width:90%;
    margin:auto;
    display: flex;
    padding:2%;
    border-radius: 5px;
    margin-top: 18%;
}

.gogimg{
    width:46px;
    height:30px;
    margin-left: 34%;
}
#pro{
   margin-left:4px;
   color:#d6006d;
   display:inline;
   bottom:-8px;
   position:relative;
   font-weight: 600;

}

.Circle{
    text-align: center;
    margin: 24px auto 32px;
    height: 5px;
    margin-top: 9%;
   
}
#orrr{
    border-radius: 55%;
    /* border:1px solid red; */
    padding:10px;
    width:20px;
    margin:auto;
    color: white;
    background-color: #450948;
}

.inputclass{
    width:90%;
    margin:auto;
    color: white;
    
}
#mob{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    height:37px;
    padding:1%;
    margin-top: 15%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#0F0617 ;
    outline: none;
}

#submit{
    margin-top: 6%;
    padding:3%;
    border-radius: 5px;
    background-color: #0F0617;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color:#ffffff80;
    border-color: #ffffff80;
}
.checkbox{
    font-size: 12px;
    color:#ffffffcc;
    font-family: 'Noto Sans', sans-serif;
    

}
.spanlabel{
    width:90%;
    margin:auto;
    padding: 30px 0px 0px;
}

.noSelect{
    color:#a785ff
}

.register{
    font-size: 12px;
    color: #ffffffff;
    font-family: 'Noto Sans', sans-serif;
    padding:20px 20px 24px;
    margin-left: 28%;
}
a{
    text-decoration: none;
    color:#a785ff;
    padding: 0px 0px 0px 3px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
                  /* otp css */

.optclass{
    width:360px;
    height:600px;
    margin:auto;
    border:1px solid black;
    padding:70px 0px 0px;
   
}                  

.para{
    color:rgb(255, 255, 255);
    text-align: center;
    padding:10px 20px 0px! important;
    font-family: 'NotoSansBold', sans-serif;
    line-height: 1.44444em;
    font-size: 20px;
    font-weight: 700;

}
.numb{
    font-family: 'NotoSansRegular', sans-serif;
    font-size:12px;
    margin:0px auto;
    margin-left: 13%;
    font-weight: 400;
    padding:35px 0px;
    color:#ffffffff;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom:20px;

}

.otpInput{
    width:15%;
    margin-top: 12%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#0F0617 ;
    color:white;
    text-align: center;
    outline: none;
}
.intel{
    display: flex;
    justify-content:space-between ;
   
}
#verifybtn{
    padding:16px;
    border-radius: 5px;
    background-color: #8230c6;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color:#fff;
    width:90%;
    margin-top: 31%;
    margin-left:5% ;
    cursor: pointer;

}     
    
           /* email form */

.emailpssddiv{
    width:360px;
    height:600px;
    margin:auto;
    /* border:1px solid black; */
    padding:70px 0px 0px;
    display:none;
}

.emailclass{
    width:90%;
    margin-top: 12%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#0F0617 ;
    color:white;
    outline: none;
    margin-left:5%;
}

#submitbtn2{
       padding:16px;
        border-radius: 5px;
        background-color: #8230c6;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        color:#fff;
        width:90%;
        margin-top: 20%;
        margin-left:5% ;
        cursor: pointer;
  }    


.logoImg{
    width:96px;
    height:96px;
   text-align: center;
   margin-left:140%;
}
.logoZee{
    margin:27px 0px;
    display: inline-block;

}

.passLoad{
    color:#ffffffff;
    font-size: 18px;
    padding:10px 0px 30px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

}