*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    width: 100%;
    margin: auto;
    background-color: rgb(38, 17, 56);
    position: relative;
    /* margin: 0 200px; */
    
}
hr
{
    margin-top: 50px;
}


#Media
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0  100px;

}



#app
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
}

#social
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
    text-transform: capitalize;
    font-weight: 700;
}

#social img
{
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    overflow: hidden;
    padding: 10px;
}

#social #face:hover
{
    background-color: rgb(6,118,232);
}
#social #insta:hover
{
    background-color: rgb(217,69,114);
}
#social #twit:hover
{
    background-color: rgb(29,161,242);
}
#social #you:hover
{
    background-color: rgb(255,0,0);
}

#fin
{
    margin-top: 50px;
    margin-left: 100px;
    color: rgb(184, 172, 172);
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
    
}

.fin2:hover
{
    color: rgb(130,48,198);
    cursor: pointer;
}

#program
{
    margin-top: 50px;
    display: flex;
    gap: 100px;
    color: white;
    margin-left: 100px;
    

}
.leading
{
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.list ul
{
    list-style: none;
    color: rgb(151, 144, 144);
    text-transform: capitalize;
    

}
li
{
    line-height: 40px;
    cursor: pointer;
}

li:hover
{
    color: rgb(130,48,198);
}

#last
{
    margin-top: 80px;
    color: rgb(196, 189, 189);
    margin-bottom: 100px;
    margin-left: 100px;
}